$nested_margin: $icon_size_small + $buffer_small + $padding_base_vertical

.row_offcanvas_left
  position: relative

#measures_nav_container
  li
    margin-left: $nested_margin

    li
      margin-left: $nested_margin - $buffer_small

.sidebar_offcanvas
  color: $grey
  background: $grey_dark
  position: relative

  .current_node
    color: $white

  a
    text-decoration: none
    color: $brand_color_primary

  +omega
  +media($desktop)
    +span-columns(3 of 12, block-collapse)
    position: fixed
    height: 100%

+media($desktop)
  .sidebar_offcanvas_spacer
    height: 100vh

  .inner_content_offcanvas
    min-height: 100vh

+media($mobile)
  +sidebar_offcanvas_width(90%)

+media($tablet_portrait)
  +sidebar_offcanvas_width(45%)

+media($mobile_and_tablet_portrait)
  .sidebar_offcanvas
    height: 100%
    min-height: 100vh
    +transition(all .25s ease-out)

    &.left_nav_open
      height: 100%
      min-height: 100vh
      margin-left: 0
      position: absolute
      top: 0
      left: 0
      overflow: visible
      z-index: 1000

  .inner_content_offcanvas
    min-height: 100vh

    &.left_nav_open
      cursor: pointer
      overflow: hidden

    &::before
      position: absolute
      top: 0
      left: 0
      z-index: 200
      height: 100%
      background: rgba(0,0,0,0.6)
      content: ''
      opacity: 0
      +transform(translate3d(100%, 0, 0))
      +transition(opacity 0.4s cubic-bezier(0.7,0,0.3,1))

      .left_nav_open &
        opacity: 1
        width: 100%
        +transition(opacity 0.8s cubic-bezier(0.7,0,0.3,1))
        +transform(translate3d(0, 0, 0))
