<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol viewBox="0 0 16 20" id="icon_bookmark_active">
    <title>bookmark_active</title>
    <path fill="#636263" d="M16,19.8L8,8.6L0,19.8V0.1h16V19.8z" /> </symbol>
  <symbol viewBox="334 796 810 800" id="icon_graph_bar_active">
    <title>graph_bar_active</title>
    <rect x="334" y="1269" fill="#9E9E9E" width="190" height="327" />
    <rect x="644" y="796" fill="#9E9E9E" width="190" height="800" />
    <rect x="954" y="1055" fill="#9E9E9E" width="190" height="541" /> </symbol>
</svg>