%h1#colors.section_title Colors
.row
  .col3.colors.brand_color_primary.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Brand Color Primary
      %p.no_margin #CECECE
  .col3.colors.brand_color_primary_dark.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Brand Color Primary Dark
      %p.no_margin #B4B4B4
  .col3.colors.white.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin White
      %p.no_margin #F8F8FA
.row.top_margin_base
  .col3.colors.grey.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey
      %p.no_margin #D3D5DD
  .col3.colors.grey_dark.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey Dark
      %p.no_margin #393B3F
  .col3.colors.grey_light.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Grey Light
      %p.no_margin #ECEDF2
.row.top_margin_base
  .col3.colors.chart_red.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Chart Red
      %p.no_margin #E4737C
  .col3.colors.chart_blue.inner_padding_base.text_center
    .colors_inner
      %h4.no_margin Chart Blue
      %p.no_margin #3B9CC3


%hr.top_margin_large.bottom_margin_large
