%h1#colors.section_title Colors
.row
  .col3.colors.brand_color_primary.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Brand Color Primary
      %p.margin_0 #CECECE
  .col3.colors.brand_color_primary_dark.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Brand Color Primary Dark
      %p.margin_0 #B4B4B4
  .col3.colors.white.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 White
      %p.margin_0 #F8F8FA
.row.top_margin_base
  .col3.colors.grey.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Grey
      %p.margin_0 #D3D5DD
  .col3.colors.grey_dark.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Grey Dark
      %p.margin_0 #393B3F
  .col3.colors.grey_light.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Grey Light
      %p.margin_0 #ECEDF2
.row.top_margin_base
  .col3.colors.chart_red.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Chart Red
      %p.margin_0 #E4737C
  .col3.colors.chart_blue.inner_padding_base.text_center
    .colors_inner
      %h4.margin_0 Chart Blue
      %p.margin_0 #3B9CC3


%hr.top_margin_large.bottom_margin_large
