- node.children.each do |child|
  - if child == current_node
    %li.measures_nav_btn
      %span.current_node= child.title
  - else
    %li.children.measures_nav_btn
      = link_to child.title, id: child.id
