- node.children.each do |child|
  - if child == current_node
    %li.measures_nav_btn
      %span.current_node.block.horizontal_padding_small= child.title
  - else
    %li.children.measures_nav_btn
      = link_to child.title, { id: child.id }, class: 'block horizontal_padding_small'
