%li.parent.measures_nav_btn
  = link_to(node.parent_title, back_button_options(node))
  %ul.unstyled
    %li.measures_nav_btn
      %span.current_node= node.title
      %ul.unstyled
        = render 'public_charts/measures_nav/child_nodes',
          node: node,
          current_node: node
