- if node.title == 'Hospital Consumer Assessment of Healthcare Providers and Systems'
  .chart_container.two_column.clearfix
    %h4.text_center.tk-freight-sans-pro.horizontal_padding_base.text_muted
      Overall data is not available for HCHAPS
- else
  = render 'public_charts/teaser_charts/default_chart', node: node
