$nested_margin: $icon_size_small + $buffer_small + $padding_base_vertical

=sidebar_offcanvas_width($width, $box_shadow)
  .sidebar_offcanvas
    margin-left: -100%
    left: -($width)

    &.left_nav_open
      width: $width

.row_offcanvas_left
  position: relative

#left_nav
  background: $white

#measures_nav_container
  li
    margin-left: $nested_margin

.measures_nav_btn
  position: relative

  a,
  .current_node
    display: block
    @extend .horizontal_padding_small

.sidebar_offcanvas
  background: lighten($grey_lighter, 0.5%)
  overflow: scroll
  +omega
  +media($desktop)
    +span-columns(3 of 12, block-collapse)
    position: fixed

+media($desktop)
  .sidebar_offcanvas_spacer,
  .inner_content_offcanvas,
  .sidebar_offcanvas
    height: 100vh
    overflow: scroll

+media($mobile)
  +sidebar_offcanvas_width(90%, 200)

+media($tablet_portrait)
  +sidebar_offcanvas_width(45%, 600)

+media($mobile_and_tablet_portrait)
  .sidebar_offcanvas
    height: 100%
    min-height: 100vh
    +transition(all .25s ease-out)

    &.left_nav_open
      height: 100%
      min-height: 100vh
      position: absolute
      margin-left: 0
      top: 0
      left: 0
      overflow: visible
      z-index: 1000

  .inner_content_offcanvas
    min-height: 100vh

    &.left_nav_open
      cursor: pointer
      overflow: hidden

    &::before
      position: absolute
      top: 0
      left: 0
      z-index: 200
      height: 100%
      background: rgba(0,0,0,0.6)
      content: ''
      opacity: 0
      +transform(translate3d(100%, 0, 0))
      +transition(opacity 0.4s cubic-bezier(0.7,0,0.3,1))

      .left_nav_open &
        opacity: 1
        width: 100%
        +transition(opacity 0.8s cubic-bezier(0.7,0,0.3,1))
        +transform(translate3d(0, 0, 0))
