.chart_container
  overflow-y: visible
  position: relative

  .detail_chart &
    height: rem(300)

    .no_data
      +centerer

  .measure_teaser &

    .no_data
      color: $chart_red
      margin-left: -$buffer_base
      +vertically_center(90%)

.teaser_charts_container,
.detail_chart
  margin: $buffer_base (-$buffer_small) $buffer_large
  +media($tablet_portrait)
    margin: $buffer_base (-$buffer_large) $buffer_large

.detail_chart
  +media($desktop)
    margin: $buffer_base (-$buffer_large) $buffer_large

.detail_chart
  background: $grey_light
  overflow: hidden

  .chart
    text
      text-anchor: left

.measure_teaser
  background: $grey_dark

  a
    color: $white

  .chart
    overflow: visible

    line
      &.best,
      &.national-avg
        stroke: $white

    text
      fill: $white
      text-anchor: right
      @extend .text_weight_light

      &.best
        +transform(translateY(rem(12)))

.chart
  rect
    fill: $grey

    &.selected
      &.target_not_met
        fill: $chart_red

      &.target_met
        fill: $chart_blue

  line
    stroke-width: 1px

    &.target,
    &.best
      stroke: #333333

    &.national-avg
      stroke: #333333
      stroke-dasharray: 3, 3
