.chart_container
  overflow-y: visible
  position: relative

  .detail_chart &
    height: rem(300)

.no_data
  +vertically_center(160%)

.teaser_charts_container,
.detail_chart
  margin: $buffer_base (-$buffer_small) $buffer_large
  +media($tablet_portrait)
    margin: $buffer_base (-$buffer_large) $buffer_large

.chart
  +transform(translateY(rem(15)))

  line
    stroke-width: 1px

    &.target,
    &.best
      stroke: #333333

    &.national-avg
      stroke: #333333
      stroke-dasharray: 3, 3

  rect
    +hover_darken_fill($grey)

    &.selected
      &.target_not_met
        +hover_darken_fill($chart_red)

      &.target_met
        +hover_darken_fill($chart_blue)

.target_met
  color: $chart_blue

.target_not_met,
.no_data
  color: $chart_red
