.measure_teaser
  background: $grey_dark
  overflow: hidden
  position: relative

  h5
    color: $white

  a
    color: $white

  .teaser_chart_title
    min-height: rem(40)

  .icon_bookmark
    position: absolute
    top: rem(-1)
    right: rem(10)

  .target_met
    .provider_data
      color: $chart_blue

  .target_not_met
    .provider_data
      color: $chart_red

  .provider_data
    font-size: rem(50)

  .chart
    overflow: visible

    line
      &.best,
      &.target,
      &.national-avg
        stroke: $white

    text
      fill: $white
      text-anchor: right
      @extend .text_weight_light
