.measure_teaser
  position: relative
  overflow: hidden

  .teaser_chart_title
    min-height: rem(40)

  .icon_bookmark
    position: absolute
    top: rem(-1)
    right: rem(10)

  .target_met
    .provider_data
      color: $chart_blue

  .target_not_met
    .provider_data
      color: $chart_red

  h5
    color: $white

  .provider_data
    font-size: rem(50)
