.detail_chart_title
  %h2.line_height_icon_large.no_margin.horizontal_padding_base
    %span.icon.icon_size_large.float_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_graph_bar'
    %span.vertical_padding_small= node.title
    %span.icon.icon_size_base.float_right.vertical_align_middle
      = render 'shared/icon', icon: '#icon_bookmark'
