.measure_teaser.col6.bottom_margin_base.border_grey
  .inner_padding_small
    %h4= node_link(node)
    = render "public_charts/teaser_charts/#{node.type}", node: node
  .border_top_grey.inner_padding_base.text_center
    = link_to('View Measure', node.id, class: 'teaser_chart_link')

