.col6
  %p.text_weight_light.text_grey_darkest
    Your hospital’s 30-day total knee and/or hip replacement (TKA and/or THA)
    readmission rate is the percentage of Medicare patients discharged from your
    hospital with a principal diagnosis of TKA and/or THA who are readmitted for
    any cause within 30-days. Selected planned readmissions are excluded.
.col6
  %p.text_weight_light.text_grey_darkest
    The Hospital Readmission Reduction Program encourages hospitals to decrease
    readmissions rates. CMS believes that TKA and/or THA patients who receive
    high quality care during their hospitalizations and their transition to the
    outpatient setting will likely have improved outcomes and lower
    readmission rates.
