%p.text_weight_light.text_grey_darkest
  The percentage of Medicare hospital inpatients who answered "Definitely yes" on the "Hospital Recommendation" question on the Hospital Consumer Assessment of Healthcare Providers and Systems (HCAHPS) Survey
  %abbr{ title: 'HCAHPS is a national, standardized survey that asks adult patients about their experiences during a recent hospital stay', class: 'pointer_cursor chart_red bold' }> *
  \:

%ul.left_padding_large.bottom_padding_base.text_weight_light.text_grey_darkest
  %li Would you recommend this hospital to your friends and hospital?

%p.text_weight_light.text_grey_darkest
  The graph benchmarks your hospital against other hospitals in your city, state or the nation. Higher rates indicate better higher quality of care.

%hr.horizontal_margin_large

%p.footnote.text_weight_light
  %abbr{ class: 'chart_red bold'}*
  HCAHPS is a national, standardized survey that asks adult patients about their experiences during a recent hospital stay.
