.styleguide
  .colors
    height: rem(80)

    &.brand_color_primary
      background: $brand_color_primary

    &.brand_color_primary_dark
      background: $brand_color_primary_dark

    &.grey
      background: $grey

    &.grey_dark
      background: $grey_dark
      color: $white

    &.grey_light
      background: $grey_light

    &.grey_light
      background: $grey_light

    &.chart_red
      background: $chart_red

    &.chart_blue
      background: $chart_blue

    &.white
      background: $white

    .colors_inner
      +vertical_align_div_middle
