= render 'public_charts/detail_charts/default_chart', node: node

%div
  %h2.tk-freight-sans-pro.text_weight_light Information
  .row
    = render "public_charts/detail_charts/measures/learn/#{node.title.parameterize.underscore}",
      node_title: node.title
