.row.horizontal_padding_base.two_column
  .col5.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      Selected Hospital
    %h2.margin_0.selected_provider_name.tk-freight-sans-pro
      = provider_compare_presenter.provider_name

  .col2.col6-xs.two_column.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      Adjustment Factor
    %h2.text_ellipsis.margin_0.tk-freight-sans-pro.selected_provider_value
      = selected_provider_presenter.value

  .col2.col6-xs.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      CMS Rank
    %h2.text_ellipsis.margin_0.tk-freight-sans-pro
      = selected_provider_presenter.cms_rank

  .col3.col6-xs.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      Projected FY2015 Impact
    %h2.text_ellipsis.margin_0.tk-freight-sans-pro
      = selected_provider_presenter.financial_impact
