.row.horizontal_padding_base.two_column
  .col5.col6-xs.bottom_margin_base
    %p.label.no_margin.text_muted.text_weight_light Selected Hospital
    %h2.no_margin.selected_provider_name.tk-freight-sans-pro= provider_compare_presenter.provider_name
  .col2.col6-xs.two_column.bottom_margin_base
    %p.label.no_margin.text_muted.text_weight_light Adjustment Factor
    %h2.text_ellipsis.no_margin.tk-freight-sans-pro= selected_provider_presenter.value
  .col2.col6-xs.bottom_margin_base
    %p.label.no_margin.text_muted.text_weight_light CMS Rank
    %h2.text_ellipsis.no_margin.tk-freight-sans-pro 13/355
  .col3.col6-xs.bottom_margin_base
    %p.label.no_margin.text_muted.text_weight_light Projected FY2015 Impact
    %h2.text_ellipsis.no_margin.tk-freight-sans-pro $352,390
