.row.horizontal_padding_base
  .col5
    %p.label.no_margin Selected Hospital
    %h2.text_ellipsis.no_margin= provider_compare_presenter.provider_name
  .col2
    %p.label.no_margin Adjustment Factor
    %h2.text_ellipsis.no_margin .9843
  .col2
    %p.label.no_margin CMS Rank
    %h2.text_ellipsis.no_margin 13/355

