.row.horizontal_padding_base
  .col5
    %p.label.no_margin.text_quiet Selected Hospital
    %h2.text_ellipsis.no_margin= provider_compare_presenter.provider_name
  .col2
    %p.label.no_margin.text_quiet Adjustment Factor
    %h2.text_ellipsis.no_margin= selected_provider_presenter.value
  .col2
    %p.label.no_margin.text_quiet CMS Rank
    %h2.text_ellipsis.no_margin 13/355

