.row.horizontal_padding_base
  .col6.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      Selected Hospital
    %h2.margin_0.selected_provider_name.tk-freight-sans-pro
      = provider_compare_presenter.provider_name

  .col2.col6-xs.two_column.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      = value_description_text(node, :short_description)
    %h2.text_ellipsis.margin_0.tk-freight-sans-pro.selected_provider_value
      = value_amount_with_unit(selected_provider_presenter.value)

  .col2.col6-xs.bottom_margin_base
    %p.label.margin_0.text_muted.text_weight_light
      CMS Rank
    %h2.text_ellipsis.margin_0.tk-freight-sans-pro
      = selected_provider_presenter.cms_rank
